# ✅ Primero forzamos una versión compatible de rich
rich==13.7.1

# ✅ Streamlit estable y compatible
streamlit==1.39.0

# ✅ Lectura de CSV y manejo de datos
pandas==2.2.2

# ✅ Conexión con MongoDB
pymongo==5.6.0
dnspython==2.6.1
